body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header-one, .header-two, .footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 0px 64px;
}

/*Header*/

.header-one {
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
}

#logo {
    display: flex;
    max-width: fit-content;
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
display: flex;
padding-left: 0px;
margin-right: 0px;
gap: 16px;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #E5E7EB;
    }
    
ul {
        list-style: none;
    }

.header-two {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin: 32px 0px 64px 0px;    
}

h1 {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    }

.headerText {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    display: flex;
    max-width: fit-content;
    background-color: #3882F6;
    color: white;
    border-color:#1F2937;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 16px;
}

#mainImage {
display: flex;
flex-shrink: 1;
max-width: fit-content;
background-color: grey;
}

/*First section*/

.content-one {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 32px 0px 64px 0px;    
}

.information {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

h2 {
    display: flex;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    font-size: 36px;
    margin: 0px;
}

.boxes-box {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 24px;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.boxes-box img {
    display: flex;
    box-sizing: border-box;
    border: solid 2.5px #3882F6;
    flex-shrink: 0;
    border-radius: 5px;
    padding: 50px;
    max-width: 20px;
}

.text {
    display: flex;
}

/*2nd section*/

.content-two {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 64px 64px;   
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.quote-author {
display: flex;
justify-content: flex-end;
font-weight: bolder;
}

/*3rd section*/

.content-three {
    display: flex;
    flex-direction: column;
    padding: 0px 64px;
    margin: 64px 0px 64px 0px;    
}

.banner-box {
display: flex;
justify-content: center;
gap: 48px;
background-color: #3882F6;
color: #E5E7EB;
padding: 6px 24px;
border-radius: 5px;
}

.banner {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    flex-shrink: 2;
    margin-top: 0px;
}

h3 {
    font-weight: bolder;
    margin-bottom: 0px;
}

p {
    margin-top: 4px;
    font-size: 16px;
}

#sign-up {
    display: flex;
    align-self: center;
    border-color: white;
}

/*Footer*/

.footer {
    text-align: center;
    justify-content: center;
    padding: 12px 0px;
    font-size: 14px;
}